@model IEnumerable<WebThucHanhMVC.Models.DTO.BookDTO>
@{
    ViewBag.Title = "List all books";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @ViewBag.Error
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id code</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>Rating</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>
                    @if (item.AuthorNames != null)
                    {
                        @foreach (var author in item.AuthorNames)
                        {
                            <span>@author</span>

                            <br />
                        }
                    }
                </td>
                <td>@item.PublisherName</td>
                <td>
                    @for (var i = 0; i < item.Rate; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                    @for (var i = item.Rate; i < 5; i++)
                    {
                        <span class="fa fa-star-o"></span>
                    }
                </td>
                <td><a asp-area="" asp-controller="Books" asp-action="AddBook" asp-route-id="@item.Id">AddBook</a></td>

                <td><a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">Detail</a></td>
                <td><a asp-area="" asp-controller="Books" asp-action="editBook" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-area="" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>

            </tr>
        }
    </tbody>
</table>

<form asp-controller="Books" asp-action="Index" method="GET">
    <label>Tìm Kiếm Sách:</label>
    <select name="filterOn" id="filterOn">
        <option value="title">Tiêu đề</option>
        <option value="author">Tác giả</option>
        <option value="publisher">Nhà xuất bản</option>
    </select>

    <label for="filterQuery">Từ khóa:</label>
    <input type="text" id="filterQuery" name="filterQuery" value="@ViewData["filterQuery"]" />

    <label>Sắp xếp theo:</label>
    <select name="sortBy" id="sortBy">
        <option value="id">Id</option>
        <option value="title">Tiêu đề</option>
        <option value="date">Ngày</option>
    </select>

    <label>Thứ tự:</label>
    <select name="isAscending" id="isAscending">
        <option value="true">Tăng dần</option>
        <option value="false">Giảm dần</option>
    </select>

    <button type="submit">Áp dụng bộ lọc</button>
</form>
